.success {
  color: white;
  background: rgb(65, 148, 65);
  border-style: solid;
  padding: 1em;
  width: 18em;
}

.failure {
  color: white;
  background: rgb(151, 63, 63);
  border-style: solid;
  padding: 1em;
  width: 18em;
}

.blog {
  border: dashed;
  border-width: 1px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 20em;
  padding: 0.5em;
  overflow: auto
}

.removeButton {
  color: white;
  background: rgb(151, 63, 63);
  padding: 0.5em;
}